# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
public/ocr_pages/01/page-*.md.bk
public/ocr_pages/01/page-*.md
public/ocr_pages/01/page-0.md
public/ocr_pages/01/page-1.md
public/ocr_pages/01/page-0.md
public/ocr_pages/01/page-1.md
public/ocr_pages/01/page-2.md
public/ocr_pages/01/page-3.md
public/ocr_pages/01/page-4.md
public/ocr_pages/01/page-5.md
public/ocr_pages/01/page-6.md
public/ocr_pages/01/page-7.md
public/ocr_pages/01/page-8.md
public/ocr_pages/01/page-9.md
public/ocr_pages/01/page-10.md
public/ocr_pages/01/page-11.md
public/ocr_pages/01/page-12.md
public/ocr_pages/01/page-13.md
public/ocr_pages/01/page-14.md
public/ocr_pages/01/page-15.md
public/ocr_pages/01/page-16.md
public/ocr_pages/01/page-17.md
public/ocr_pages/01/page-18.md
public/ocr_pages/01/page-19.md
public/ocr_pages/01/page-20.md
public/ocr_pages/01/page-21.md
public/ocr_pages/01/page-22.md
public/ocr_pages/01/page-23.md
public/ocr_pages/01/page-24.md
public/ocr_pages/01/page-25.md
public/ocr_pages/01/page-26.md
public/ocr_pages/01/page-27.md
public/ocr_pages/01/page-28.md
public/ocr_pages/01/page-29.md
public/ocr_pages/01/page-30.md
public/ocr_pages/01/page-31.md
public/ocr_pages/01/page-32.md
public/ocr_pages/01/page-33.md
public/ocr_pages/01/page-34.md
public/ocr_pages/01/page-35.md
public/ocr_pages/01/page-36.md
public/ocr_pages/01/page-37.md
public/ocr_pages/01/page-38.md
public/ocr_pages/01/page-39.md
public/ocr_pages/01/page-40.md
public/ocr_pages/01/page-41.md
public/ocr_pages/01/page-42.md
public/ocr_pages/01/page-43.md
public/ocr_pages/01/page-44.md
public/ocr_pages/01/page-45.md
public/ocr_pages/01/page-46.md
public/ocr_pages/01/page-47.md
public/ocr_pages/01/page-48.md
public/ocr_pages/01/page-49.md
public/ocr_pages/01/page-50.md
public/ocr_pages/01/page-51.md
public/ocr_pages/01/page-52.md
public/ocr_pages/01/page-53.md
public/ocr_pages/01/page-54.md
public/ocr_pages/01/page-55.md
public/ocr_pages/01/page-56.md
public/ocr_pages/01/page-57.md
public/ocr_pages/01/page-58.md
public/ocr_pages/01/page-59.md
public/ocr_pages/01/page-60.md
public/ocr_pages/01/page-61.md
public/ocr_pages/01/page-62.md
public/ocr_pages/01/page-63.md
public/ocr_pages/01/page-64.md
public/ocr_pages/01/page-65.md
public/ocr_pages/01/page-66.md
public/ocr_pages/01/page-67.md
